.question-form{
    background-color: #F4F4F9;
    height: 100%;
    padding-bottm: 30px;
}
.section{
    margin: auto;
    width: 50%;
}
.question-title-section{}
.question-form-top{
    background-color: white;
    border-top: 8px solid skyblue;
    border-radius: 8px;
    padding: 30px 25px;
    text-transform: capitalize;
}
.question-from-top-name{
    box-sizing: border-box;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    line-height: 135%;
    width: 100%;
    border: none;
    outline: none;
    order-bottom: 1px solid #F4F4F9;
    color: black;
    height: 35px;
}
.question-from-top-desc{
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    width: 100%;
    border: none;
    outline: none;
    order-bottom: 1px solid #F4F4F9;
    color: black;
    height: 20px;
}